html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;

}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: dodgerblue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: dodgerblue;
  cursor: pointer;
}

.display {
  margin: 10px;
}

#sect_t_to_m {
  background-color: aqua;
}

#sect_m_to_t {
  background-color: blue;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.alert {
  margin-top: 1rem;
}

.help_bip{
  margin: 50% 0;
}

h4{
  bottom: 0;
}